[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "autoload/pathogen"]
    path = autoload/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
    path = bundle/git
    url = https://github.com/tpope/vim-git.git
    ignore = untracked
[submodule "bundle/tasklist"]
    path = bundle/tasklist
    url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/tabular"]
    path = bundle/tabular
    url = https://github.com/godlygeek/tabular
[submodule "bundle/nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/clang_complete"]
    path = bundle/clang_complete
    url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/blackboard"]
    path = bundle/blackboard
    url = https://github.com/nelstrom/vim-blackboard
[submodule "bundle/csapprox"]
    path = bundle/csapprox
    url = https://github.com/vim-scripts/CSApprox
    ignore = untracked
[submodule "bundle/irblack"]
    path = bundle/irblack
    url = https://github.com/wgibbs/vim-irblack
[submodule "bundle/metacosm"]
	path = bundle/metacosm
	url = https://github.com/vim-scripts/metacosm.vim
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = ssh://rydbrink@192.168.0.2/home/rydbrink/source/vim-mustang/
