[submodule "bundle/nerdtree"]
    path = bundle/nerdtree
    url = https://github.com/vim-scripts/The-NERD-tree.git
    ignore = untracked
[submodule "autoload/pathogen"]
    path = autoload/pathogen
    url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/fugitive"]
    path = bundle/fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/git"]
    path = bundle/git
    url = https://github.com/tpope/vim-git.git
    ignore = untracked
[submodule "bundle/tabular"]
    path = bundle/tabular
    url = https://github.com/godlygeek/tabular
[submodule "bundle/nerdcommenter"]
    path = bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/blackboard"]
    path = bundle/blackboard
    url = https://github.com/nelstrom/vim-blackboard
[submodule "bundle/csapprox"]
    path = bundle/csapprox
    url = https://github.com/vim-scripts/CSApprox
    ignore = untracked
[submodule "bundle/irblack"]
    path = bundle/irblack
    url = https://github.com/wgibbs/vim-irblack
[submodule "bundle/metacosm"]
	path = bundle/metacosm
	url = https://github.com/vim-scripts/metacosm.vim
[submodule "bundle/mustang"]
	path = bundle/mustang
	url = ssh://rydbrink@192.168.0.2/home/rydbrink/source/vim-mustang/
[submodule "bundle/camo"]
	path = bundle/camo
	url = https://github.com/vim-scripts/camo.vim
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vimcalc"]
	path = bundle/vimcalc
	url = https://github.com/gregsexton/VimCalc
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T
